extends layout

block prepend body
  body.index

    form(action="." method="POST" class="home_form")
        
        h1.home_title Help Me!!!

        label(for="name") 

        input(
        type="text"
        id="name"
        name="name"
        class="form-control search_input"
        placeholder="Search an emergency"

        )
        br

        input(
        type="submit"
        value="Search"
        class="btn btn-secondary btn-xs search_button"
        )