extends layout

block body
    nav.navbar.navbar-default( role="navigation" )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
    
        #navbar-inverse.collapse.navbar-collapse
            ul.nav.navbar-nav.pull-right
                li: a( href="/") Home
                li: a( href="/categories" ) Categories

    block content
        div.contains
            .row
                .col-md-9
                    .col-md-4.col-sm-6.col-xs-12
                        .panel.panel-default
                            .panel-heading Tweets
                            .panel-body We are a fairly small, flexible design studio that designs for print and web. 
                    .col-md-4.col-sm-6.col-xs-12
                        .panel.panel-default
                            .panel-heading Tweets
                            .panel-body We are a fairly small, flexible design studio that designs for print and web. 
                    .col-md-4.col-sm-6.col-xs-12
                        .panel.panel-default
                            .panel-heading Tweets
                            .panel-body We are a fairly small, flexible design studio that designs for print and web.     
                    .col-md-4.col-sm-6.col-xs-12
                        .panel.panel-default
                            .panel-heading Tweets
                            .panel-body We are a fairly small, flexible design studio that designs for print and web. 
                    .col-md-4.col-sm-6.col-xs-12
                        .panel.panel-default
                            .panel-heading Tweets
                            .panel-body We are a fairly small, flexible design studio that designs for print and web. 
                    .col-md-4.col-sm-6.col-xs-12
                        .panel.panel-default
                            .panel-heading Tweets
                            .panel-body We are a fairly small, flexible design studio that designs for print and web. 
                            
                .col-md-3
                    .panel.panel-primary
                            .panel-heading Filters
                            .panel-body
                                .list-group
                                    h5.list-group-item Priority Level
                                        li.list-group-item-text: a(href="/search") High
                                        li.list-group-item-text: a(href="/search") Medium
                                        li.list-group-item-text: a(href="/search") Low

                                    h5.list-group-item: a( href="/search" ) Incident Type
                                    h5.list-group-item: a( href="/search" ) Time
                                    h5.list-group-item: a( href="/search" ) Media
                                //- #accordion.panel-group
                                //-     each val in [1]
                                //-         each name in ["Priority Level", "Incident Type", "Time", "Media"]
                                //-             .panel-info(id="panel#{val}")
                                //-             .panel-heading
                                //-                 h4.panel-title
                                //-                 a(data-toggle='collapse', data-target='#accordion', href='#collapse#{val}') #{name}
                                //-             .panel-collapse.collapse.in(id="#collapse#{val}")
                                //-                 .panel-body 
                                //-                     .li High
                                //-                     .li Medium
                                //-                     .li Low
            .row
                if tweets.length
                    input(value=arr)
                    //- each tweet in tweets
                        
                        //- input(value=tweet.postID)
                        blockquote
                            a(href=arr)
                else
                    p No tweets yet :(